--
-- PostgreSQL database dump
--

\restrict lTYrsLHhATbmoF64yR3XbgXTK7uKctAppT2lBoJV76vFASLKY6qhsOFRbhQrd1z

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: sync_categories_to_companies(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.sync_categories_to_companies() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
      BEGIN
        -- ╪╣┘╪» ╪ح╪╢╪د┘╪ر ┘é╪│┘à ╪ش╪»┘è╪»╪î ╪ز╪ص┘é┘é ╪ح╪░╪د ┘â╪د┘ ┘à┘ê╪ش┘ê╪» ┘┘è topup_companies
        IF NEW.store_id = 13 THEN
          -- ╪ز╪ص┘é┘é ┘à┘ ┘ê╪ش┘ê╪» ╪د┘╪┤╪▒┘â╪ر
          IF NOT EXISTS (
            SELECT 1 FROM topup_companies 
            WHERE store_id = NEW.store_id AND name = NEW.name
          ) THEN
            -- ╪ث╪╢┘ ╪د┘╪┤╪▒┘â╪ر
            INSERT INTO topup_companies (store_id, name, is_active, created_at)
            VALUES (NEW.store_id, NEW.name, true, NOW());
          END IF;
        END IF;
        RETURN NEW;
      END;
      $$;


ALTER FUNCTION public.sync_categories_to_companies() OWNER TO postgres;

--
-- Name: sync_products_to_topup(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.sync_products_to_topup() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
      DECLARE
        company_id INT;
        default_category_id INT;
        company_name TEXT;
      BEGIN
        -- Only for store 13 (topup store)
        IF NEW.store_id = 13 THEN
          -- Get company name from category
          SELECT c.name INTO company_name
          FROM categories c
          WHERE c.id = NEW.category_id;

          -- Find corresponding company
          SELECT tc.id INTO company_id
          FROM topup_companies tc
          WHERE tc.store_id = 13 
            AND tc.name = company_name
            AND tc.is_active = true;

          -- If company found, insert product
          IF company_id IS NOT NULL THEN
            -- Get default category ID
            SELECT id INTO default_category_id
            FROM topup_product_categories
            WHERE store_id = 13 AND name = '╪╣╪د┘à'
            LIMIT 1;

            -- If default category doesn't exist, create it
            IF default_category_id IS NULL THEN
              INSERT INTO topup_product_categories (store_id, name, is_active, created_at)
              VALUES (13, '╪╣╪د┘à', true, NOW())
              RETURNING id INTO default_category_id;
            END IF;

            -- Insert or update the product in topup_products
            INSERT INTO topup_products (store_id, company_id, category_id, amount, price, is_active, created_at, updated_at)
            VALUES (NEW.store_id, company_id, default_category_id, NEW.name::INT, NEW.price::INT, NEW.is_active, NOW(), NOW())
            ON CONFLICT DO NOTHING;
          END IF;
        END IF;
        RETURN NEW;
      END;
      $$;


ALTER FUNCTION public.sync_products_to_topup() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_settings (
    id integer NOT NULL,
    store_id integer,
    setting_key character varying(255),
    setting_value text,
    app_name character varying(255),
    logo_url character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    primary_color text DEFAULT '#4F46E5'::text,
    admin_commission_percentage numeric(5,2),
    admin_commission_amount numeric(10,2),
    admin_welcome_message text
);


ALTER TABLE public.app_settings OWNER TO postgres;

--
-- Name: app_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.app_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.app_settings_id_seq OWNER TO postgres;

--
-- Name: app_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.app_settings_id_seq OWNED BY public.app_settings.id;


--
-- Name: auction_bids; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auction_bids (
    id integer NOT NULL,
    auction_id integer,
    customer_id integer,
    customer_name character varying(255),
    customer_phone character varying(20),
    bid_amount numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.auction_bids OWNER TO postgres;

--
-- Name: auction_bids_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.auction_bids_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auction_bids_id_seq OWNER TO postgres;

--
-- Name: auction_bids_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.auction_bids_id_seq OWNED BY public.auction_bids.id;


--
-- Name: auctions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auctions (
    id integer NOT NULL,
    store_id integer,
    product_id integer,
    starting_price numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.auctions OWNER TO postgres;

--
-- Name: auctions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.auctions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auctions_id_seq OWNER TO postgres;

--
-- Name: auctions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.auctions_id_seq OWNED BY public.auctions.id;


--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_items (
    id integer NOT NULL,
    customer_id integer,
    product_id integer,
    quantity integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.cart_items OWNER TO postgres;

--
-- Name: cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cart_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cart_items_id_seq OWNER TO postgres;

--
-- Name: cart_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cart_items_id_seq OWNED BY public.cart_items.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(255),
    image_url character varying(500),
    store_id integer,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: company_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.company_users (
    id integer NOT NULL,
    store_id integer,
    user_id integer,
    company_id integer
);


ALTER TABLE public.company_users OWNER TO postgres;

--
-- Name: company_users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.company_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.company_users_id_seq OWNER TO postgres;

--
-- Name: company_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.company_users_id_seq OWNED BY public.company_users.id;


--
-- Name: customer_payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_payments (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    store_id integer NOT NULL,
    amount numeric(10,2),
    payment_method character varying(50),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.customer_payments OWNER TO postgres;

--
-- Name: customer_payments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customer_payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_payments_id_seq OWNER TO postgres;

--
-- Name: customer_payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customer_payments_id_seq OWNED BY public.customer_payments.id;


--
-- Name: customer_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_transactions (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    store_id integer NOT NULL,
    amount numeric(10,2),
    type character varying(50),
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.customer_transactions OWNER TO postgres;

--
-- Name: customer_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customer_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_transactions_id_seq OWNER TO postgres;

--
-- Name: customer_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customer_transactions_id_seq OWNED BY public.customer_transactions.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    store_id integer NOT NULL,
    name character varying(255),
    phone character varying(20),
    password character varying(255),
    current_debt numeric(10,2) DEFAULT 0,
    starting_balance numeric(10,2) DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    phone_verified boolean DEFAULT false
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: merchant_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.merchant_applications (
    id integer NOT NULL,
    name character varying(255),
    phone character varying(20),
    email character varying(255),
    store_name character varying(255),
    category character varying(255),
    store_type character varying(50),
    description text,
    status character varying(50) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    reviewed_at timestamp without time zone,
    reviewed_by integer,
    rejection_reason text
);


ALTER TABLE public.merchant_applications OWNER TO postgres;

--
-- Name: merchant_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.merchant_applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.merchant_applications_id_seq OWNER TO postgres;

--
-- Name: merchant_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.merchant_applications_id_seq OWNED BY public.merchant_applications.id;


--
-- Name: order_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_images (
    id integer NOT NULL,
    order_id integer NOT NULL,
    topup_product_id integer NOT NULL,
    image_url text NOT NULL,
    image_data text,
    is_used boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_images OWNER TO postgres;

--
-- Name: order_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_images_id_seq OWNER TO postgres;

--
-- Name: order_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_images_id_seq OWNED BY public.order_images.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer NOT NULL,
    product_id integer,
    topup_product_id integer,
    quantity integer,
    price numeric(10,2),
    topup_codes text[],
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    customer_id integer,
    topup_customer_id integer,
    store_id integer NOT NULL,
    total_amount numeric(10,2),
    discount_amount numeric(10,2),
    phone character varying(20),
    address text,
    is_topup_order boolean DEFAULT false,
    customer_type character varying(50),
    payment_status character varying(50),
    status character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    store_id integer NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(255),
    description text,
    price numeric(10,2),
    retail_price numeric(10,2),
    wholesale_price numeric(10,2),
    category_id integer,
    gallery text[],
    stock_quantity integer,
    is_auction boolean DEFAULT false,
    auction_id integer,
    is_active boolean DEFAULT true,
    topup_codes text[],
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: stores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stores (
    id integer NOT NULL,
    store_name character varying(255) NOT NULL,
    slug character varying(255),
    logo_url character varying(500),
    primary_color character varying(7),
    owner_id integer,
    owner_name character varying(255),
    owner_phone character varying(20),
    percentage_enabled boolean DEFAULT false,
    commission_percentage numeric(5,2) DEFAULT 0,
    subscription_paid boolean DEFAULT false,
    store_type character varying(50),
    status character varying(20),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    phone character varying(20)
);


ALTER TABLE public.stores OWNER TO postgres;

--
-- Name: stores_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stores_id_seq OWNER TO postgres;

--
-- Name: stores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stores_id_seq OWNED BY public.stores.id;


--
-- Name: topup_companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.topup_companies (
    id integer NOT NULL,
    store_id integer NOT NULL,
    name character varying(255),
    logo_url character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.topup_companies OWNER TO postgres;

--
-- Name: topup_companies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.topup_companies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.topup_companies_id_seq OWNER TO postgres;

--
-- Name: topup_companies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.topup_companies_id_seq OWNED BY public.topup_companies.id;


--
-- Name: topup_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.topup_orders (
    id integer NOT NULL,
    customer_id integer,
    store_id integer,
    status character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.topup_orders OWNER TO postgres;

--
-- Name: topup_orders_detail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.topup_orders_detail (
    id integer NOT NULL,
    topup_order_id integer,
    product_id integer,
    quantity integer,
    price numeric(10,2)
);


ALTER TABLE public.topup_orders_detail OWNER TO postgres;

--
-- Name: topup_orders_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.topup_orders_detail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.topup_orders_detail_id_seq OWNER TO postgres;

--
-- Name: topup_orders_detail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.topup_orders_detail_id_seq OWNED BY public.topup_orders_detail.id;


--
-- Name: topup_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.topup_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.topup_orders_id_seq OWNER TO postgres;

--
-- Name: topup_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.topup_orders_id_seq OWNED BY public.topup_orders.id;


--
-- Name: topup_product_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.topup_product_categories (
    id integer NOT NULL,
    store_id integer NOT NULL,
    name character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.topup_product_categories OWNER TO postgres;

--
-- Name: topup_product_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.topup_product_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.topup_product_categories_id_seq OWNER TO postgres;

--
-- Name: topup_product_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.topup_product_categories_id_seq OWNED BY public.topup_product_categories.id;


--
-- Name: topup_product_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.topup_product_images (
    id integer NOT NULL,
    topup_product_id integer NOT NULL,
    image_data text NOT NULL,
    image_type character varying(50) DEFAULT 'svg'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.topup_product_images OWNER TO postgres;

--
-- Name: topup_product_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.topup_product_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.topup_product_images_id_seq OWNER TO postgres;

--
-- Name: topup_product_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.topup_product_images_id_seq OWNED BY public.topup_product_images.id;


--
-- Name: topup_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.topup_products (
    id integer NOT NULL,
    store_id integer NOT NULL,
    company_id integer,
    amount numeric(15,2),
    price numeric(10,2),
    retail_price numeric(10,2),
    wholesale_price numeric(10,2),
    images text[],
    codes text[],
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.topup_products OWNER TO postgres;

--
-- Name: topup_products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.topup_products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.topup_products_id_seq OWNER TO postgres;

--
-- Name: topup_products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.topup_products_id_seq OWNED BY public.topup_products.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(255),
    email character varying(255),
    phone character varying(20),
    password character varying(255),
    store_id integer,
    can_access_admin boolean DEFAULT false,
    role character varying(50) DEFAULT 'user'::character varying,
    is_active boolean DEFAULT true,
    avatar character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    phone_verified boolean DEFAULT false
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: app_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_settings ALTER COLUMN id SET DEFAULT nextval('public.app_settings_id_seq'::regclass);


--
-- Name: auction_bids id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction_bids ALTER COLUMN id SET DEFAULT nextval('public.auction_bids_id_seq'::regclass);


--
-- Name: auctions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auctions ALTER COLUMN id SET DEFAULT nextval('public.auctions_id_seq'::regclass);


--
-- Name: cart_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items ALTER COLUMN id SET DEFAULT nextval('public.cart_items_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: company_users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_users ALTER COLUMN id SET DEFAULT nextval('public.company_users_id_seq'::regclass);


--
-- Name: customer_payments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_payments ALTER COLUMN id SET DEFAULT nextval('public.customer_payments_id_seq'::regclass);


--
-- Name: customer_transactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_transactions ALTER COLUMN id SET DEFAULT nextval('public.customer_transactions_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: merchant_applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_applications ALTER COLUMN id SET DEFAULT nextval('public.merchant_applications_id_seq'::regclass);


--
-- Name: order_images id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_images ALTER COLUMN id SET DEFAULT nextval('public.order_images_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: stores id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stores ALTER COLUMN id SET DEFAULT nextval('public.stores_id_seq'::regclass);


--
-- Name: topup_companies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_companies ALTER COLUMN id SET DEFAULT nextval('public.topup_companies_id_seq'::regclass);


--
-- Name: topup_orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_orders ALTER COLUMN id SET DEFAULT nextval('public.topup_orders_id_seq'::regclass);


--
-- Name: topup_orders_detail id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_orders_detail ALTER COLUMN id SET DEFAULT nextval('public.topup_orders_detail_id_seq'::regclass);


--
-- Name: topup_product_categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_product_categories ALTER COLUMN id SET DEFAULT nextval('public.topup_product_categories_id_seq'::regclass);


--
-- Name: topup_product_images id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_product_images ALTER COLUMN id SET DEFAULT nextval('public.topup_product_images_id_seq'::regclass);


--
-- Name: topup_products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_products ALTER COLUMN id SET DEFAULT nextval('public.topup_products_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: app_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_settings (id, store_id, setting_key, setting_value, app_name, logo_url, created_at, primary_color, admin_commission_percentage, admin_commission_amount, admin_welcome_message) FROM stdin;
1	\N	\N	\N	┘à┘╪╡╪ز┘è - ╪د┘┘à╪ز╪د╪ش╪▒ ╪د┘╪░┘â┘è╪ر	https://via.placeholder.com/150?text=┘à┘╪╡╪ز┘è	2026-03-16 13:14:56.217219	#4F46E5	5.00	\N	\N
\.


--
-- Data for Name: auction_bids; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auction_bids (id, auction_id, customer_id, customer_name, customer_phone, bid_amount, created_at) FROM stdin;
\.


--
-- Data for Name: auctions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auctions (id, store_id, product_id, starting_price, created_at) FROM stdin;
\.


--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_items (id, customer_id, product_id, quantity, created_at) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, slug, image_url, store_id, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: company_users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.company_users (id, store_id, user_id, company_id) FROM stdin;
\.


--
-- Data for Name: customer_payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer_payments (id, customer_id, store_id, amount, payment_method, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: customer_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer_transactions (id, customer_id, store_id, amount, type, description, created_at) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customers (id, store_id, name, phone, password, current_debt, starting_balance, is_active, created_at, phone_verified) FROM stdin;
\.


--
-- Data for Name: merchant_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.merchant_applications (id, name, phone, email, store_name, category, store_type, description, status, created_at, reviewed_at, reviewed_by, rejection_reason) FROM stdin;
\.


--
-- Data for Name: order_images; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_images (id, order_id, topup_product_id, image_url, image_data, is_used, created_at) FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_items (id, order_id, product_id, topup_product_id, quantity, price, topup_codes, created_at) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders (id, customer_id, topup_customer_id, store_id, total_amount, discount_amount, phone, address, is_topup_order, customer_type, payment_status, status, created_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (id, store_id, name, slug, description, price, retail_price, wholesale_price, category_id, gallery, stock_quantity, is_auction, auction_id, is_active, topup_codes, created_at) FROM stdin;
\.


--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: topup_companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.topup_companies (id, store_id, name, logo_url, created_at) FROM stdin;
1	13	╪▓┘è┘ ╪د╪س┘è╪▒	https://via.placeholder.com/100	2026-03-16 13:14:02.827972
2	13	╪ت╪│┘è╪د ╪│┘è┘	https://via.placeholder.com/100	2026-03-16 13:14:02.827972
3	13	┘â┘ê╪▒┘â	https://via.placeholder.com/100	2026-03-16 13:14:02.827972
\.


--
-- Data for Name: topup_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.topup_orders (id, customer_id, store_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: topup_orders_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.topup_orders_detail (id, topup_order_id, product_id, quantity, price) FROM stdin;
\.


--
-- Data for Name: topup_product_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.topup_product_categories (id, store_id, name, created_at) FROM stdin;
\.


--
-- Data for Name: topup_product_images; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: topup_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.topup_products (id, store_id, company_id, amount, price, retail_price, wholesale_price, images, codes, is_active, created_at) FROM stdin;
1	13	1	35000.00	40000.00	38000.00	37000.00	\N	\N	t	2026-03-16 13:14:02.833598
2	13	2	25000.00	27500.00	26500.00	26000.00	\N	\N	t	2026-03-16 13:14:02.833598
3	13	3	15000.00	17500.00	16500.00	16000.00	\N	\N	t	2026-03-16 13:14:02.833598
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, email, phone, password, store_id, can_access_admin, role, is_active, avatar, created_at, phone_verified) FROM stdin;
2	┘à╪ص┘à╪» ╪ث╪ص┘à╪»	merchant1@commerce.local	0771234567	password	1	f	merchant	t	\N	2026-03-16 13:14:10.004153	f
3	╪╣┘┘è ┘à╪ص╪│┘	merchant2@commerce.local	0781234567	password	2	f	merchant	t	\N	2026-03-16 13:14:10.005513	f
1	Admin	admin@commerce.local	admin	password	\N	t	admin	t	\N	2026-03-16 13:14:10.002786	f
4	Customer	customer@commerce.local	customer	password	\N	f	customer	t	\N	2026-03-16 13:14:56.222375	f
\.


--
-- Name: app_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_settings_id_seq', 1, true);


--
-- Name: auction_bids_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auction_bids_id_seq', 1, false);


--
-- Name: auctions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auctions_id_seq', 1, false);


--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 1, false);


--
-- Name: company_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.company_users_id_seq', 1, false);


--
-- Name: customer_payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_payments_id_seq', 1, false);


--
-- Name: customer_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_transactions_id_seq', 1, false);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customers_id_seq', 1, false);


--
-- Name: merchant_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.merchant_applications_id_seq', 1, false);


--
-- Name: order_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_images_id_seq', 1, false);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_items_id_seq', 1, false);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 1, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 1, false);


--
-- Name: stores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stores_id_seq', 2, true);


--
-- Name: topup_companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.topup_companies_id_seq', 3, true);


--
-- Name: topup_orders_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.topup_orders_detail_id_seq', 1, false);


--
-- Name: topup_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.topup_orders_id_seq', 1, false);


--
-- Name: topup_product_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.topup_product_categories_id_seq', 1, false);


--
-- Name: topup_product_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.topup_product_images_id_seq', 3, true);


--
-- Name: topup_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.topup_products_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: app_settings app_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_pkey PRIMARY KEY (id);


--
-- Name: auction_bids auction_bids_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction_bids
    ADD CONSTRAINT auction_bids_pkey PRIMARY KEY (id);


--
-- Name: auctions auctions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auctions
    ADD CONSTRAINT auctions_pkey PRIMARY KEY (id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: company_users company_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_users
    ADD CONSTRAINT company_users_pkey PRIMARY KEY (id);


--
-- Name: customer_payments customer_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_payments
    ADD CONSTRAINT customer_payments_pkey PRIMARY KEY (id);


--
-- Name: customer_transactions customer_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_transactions
    ADD CONSTRAINT customer_transactions_pkey PRIMARY KEY (id);


--
-- Name: customers customers_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_phone_key UNIQUE (phone);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: merchant_applications merchant_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.merchant_applications
    ADD CONSTRAINT merchant_applications_pkey PRIMARY KEY (id);


--
-- Name: order_images order_images_order_id_topup_product_id_image_url_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_images
    ADD CONSTRAINT order_images_order_id_topup_product_id_image_url_key UNIQUE (order_id, topup_product_id, image_url);


--
-- Name: order_images order_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_images
    ADD CONSTRAINT order_images_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: stores stores_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_slug_key UNIQUE (slug);


--
-- Name: topup_companies topup_companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_companies
    ADD CONSTRAINT topup_companies_pkey PRIMARY KEY (id);


--
-- Name: topup_orders_detail topup_orders_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_orders_detail
    ADD CONSTRAINT topup_orders_detail_pkey PRIMARY KEY (id);


--
-- Name: topup_orders topup_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_orders
    ADD CONSTRAINT topup_orders_pkey PRIMARY KEY (id);


--
-- Name: topup_product_categories topup_product_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_product_categories
    ADD CONSTRAINT topup_product_categories_pkey PRIMARY KEY (id);


--
-- Name: topup_product_images topup_product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_product_images
    ADD CONSTRAINT topup_product_images_pkey PRIMARY KEY (id);


--
-- Name: topup_product_images topup_product_images_topup_product_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_product_images
    ADD CONSTRAINT topup_product_images_topup_product_id_key UNIQUE (topup_product_id);


--
-- Name: topup_products topup_products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_products
    ADD CONSTRAINT topup_products_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_customer_payments_customer_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_payments_customer_id ON public.customer_payments USING btree (customer_id);


--
-- Name: idx_order_images_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_images_order_id ON public.order_images USING btree (order_id);


--
-- Name: idx_order_images_product_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_images_product_id ON public.order_images USING btree (topup_product_id);


--
-- Name: idx_orders_customer_id_topup; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_customer_id_topup ON public.orders USING btree (customer_id) WHERE (is_topup_order = true);


--
-- Name: idx_orders_topup_customer_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_topup_customer_id ON public.orders USING btree (topup_customer_id) WHERE (is_topup_order = true);


--
-- Name: idx_topup_companies_store_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_topup_companies_store_id ON public.topup_companies USING btree (store_id);


--
-- Name: idx_topup_product_categories_store_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_topup_product_categories_store_id ON public.topup_product_categories USING btree (store_id);


--
-- Name: idx_topup_product_images_product_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_topup_product_images_product_id ON public.topup_product_images USING btree (topup_product_id);


--
-- Name: idx_topup_products_company_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_topup_products_company_id ON public.topup_products USING btree (company_id);


--
-- Name: idx_topup_products_store_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_topup_products_store_id ON public.topup_products USING btree (store_id);


--
-- Name: app_settings app_settings_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: auction_bids auction_bids_auction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction_bids
    ADD CONSTRAINT auction_bids_auction_id_fkey FOREIGN KEY (auction_id) REFERENCES public.auctions(id);


--
-- Name: auction_bids auction_bids_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auction_bids
    ADD CONSTRAINT auction_bids_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: auctions auctions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auctions
    ADD CONSTRAINT auctions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: auctions auctions_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auctions
    ADD CONSTRAINT auctions_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: cart_items cart_items_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: cart_items cart_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: categories categories_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: company_users company_users_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_users
    ADD CONSTRAINT company_users_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.topup_companies(id);


--
-- Name: company_users company_users_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_users
    ADD CONSTRAINT company_users_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: company_users company_users_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_users
    ADD CONSTRAINT company_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: customer_payments customer_payments_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_payments
    ADD CONSTRAINT customer_payments_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: customer_payments customer_payments_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_payments
    ADD CONSTRAINT customer_payments_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: customer_transactions customer_transactions_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_transactions
    ADD CONSTRAINT customer_transactions_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: customer_transactions customer_transactions_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_transactions
    ADD CONSTRAINT customer_transactions_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: customers customers_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: orders orders_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON DELETE CASCADE;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: products products_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: topup_companies topup_companies_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_companies
    ADD CONSTRAINT topup_companies_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: topup_orders_detail topup_orders_detail_topup_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_orders_detail
    ADD CONSTRAINT topup_orders_detail_topup_order_id_fkey FOREIGN KEY (topup_order_id) REFERENCES public.topup_orders(id);


--
-- Name: topup_product_categories topup_product_categories_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_product_categories
    ADD CONSTRAINT topup_product_categories_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: topup_product_images topup_product_images_topup_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_product_images
    ADD CONSTRAINT topup_product_images_topup_product_id_fkey FOREIGN KEY (topup_product_id) REFERENCES public.topup_products(id) ON DELETE CASCADE;


--
-- Name: topup_products topup_products_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_products
    ADD CONSTRAINT topup_products_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.topup_companies(id);


--
-- Name: topup_products topup_products_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topup_products
    ADD CONSTRAINT topup_products_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: users users_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- PostgreSQL database dump complete
--

\unrestrict lTYrsLHhATbmoF64yR3XbgXTK7uKctAppT2lBoJV76vFASLKY6qhsOFRbhQrd1z

